.new-quote {
    min-height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 5rem 0;
}

.new-quote__form {
    padding: 2rem;
    background-color: var(--s-color);
    color: var(--f-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 600px;
    max-width: 90vw;
}

.new-quote__form .form-group {
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.new-quote__form .form-group:first-of-type {
    align-items: center;
}

.new-quote__form .form-group input {
    background-color: var(--t-color);
    border: none;
    outline: none;
    border-radius: 5px;
    height: 2.2rem;
    width: 300px;
    padding: 5px;
    font-size: 1rem;
}

.new-quote__form .form-group textarea{
    padding: 5px;
    width: 300px;
    background-color: var(--t-color);
    border-radius: 5px;
    border: none;
    outline: none;
    height: 100px;
    font-size: 1rem;
}

.new-quote__form button {
    background-color: var(--f-color);
    color: var(--s-color);
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
    border: none;
    outline: none;
    transition: all 250ms ease-out;
    width: fit-content;
    margin-inline: auto;
}

.new-quote__form button:hover {
    color: var(--t-color);
}

.new-quote__form button.disabled-button {
    cursor: not-allowed;
    background-color: var(--s-color);
    color: var(--f-color);
}

.new-quote__form p {
    text-align: center;
    font-size: .875rem;
}

.error-message {
    color: red;
}

@media(max-width:768px) {

    .new-quote__form {
        gap: 1rem;
    }

    .new-quote__form .form-group{
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }

    .new-quote__form .form-group:first-of-type{
        align-items: flex-start;
    }

    .new-quote__form .form-group input, .new-quote__form .form-group textarea {
        width: 100%;
    }

    .new-quote__form button {
        margin-top: 0;
    }
}