.quotes {
    width: 100%;
    padding: 5rem 10vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quotes > h1 {
    font-size: 2rem;
    font-weight: 400;
}

.quotes > h3 {
    font-size: 1.125rem;
    font-weight: 400;
}

@media(max-width:768px) {
    .quotes {
        padding: 5rem 2.5vw;
        gap: 0;
    }

    .quotes > h1 {
        font-size: 1rem;
    }

    .quotes > h3 {
        font-size: .875rem;
        margin-bottom: 1rem;
    }
}